$color-primary: navy;
$color-secondary: beige;
$color-tertiary: maroon;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: $color-secondary;
  color: $color-tertiary;
}

@import './AllPosts';
@import './BlogPost';
@import './CreatePost';
@import './Home';
@import './NavBar';
