.CreatePost {
  width: 60%;
  margin: 20px auto;
  input, textarea {
    width: 100%;
    margin: 10px 0;
    border: 1px solid $color-tertiary;
    padding: 5px;
    font-size: 16px;
  }
  textarea {
    resize: none;
  }
  button {
    border: 3px solid $color-tertiary;
    color: $color-tertiary;
    font-size: 20px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    &:hover {
      background-color: $color-tertiary;
      color: $color-secondary;
    }
  }
}
