.NavBar {
  background: $color-primary;
  padding: 10px 50px;
  a {
    color: white;
    text-decoration: none;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
  }
  .active {
    background-color: $color-tertiary;
  }
}
