body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: beige;
  color: maroon; }

.AllPosts {
  width: 70%;
  margin: 20px auto; }

.BlogPost {
  width: 100%;
  border: 3px solid navy;
  margin: 10px 0;
  padding: 20px; }
  .BlogPost .body {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 15px; }

.CreatePost {
  width: 60%;
  margin: 20px auto; }
  .CreatePost input, .CreatePost textarea {
    width: 100%;
    margin: 10px 0;
    border: 1px solid maroon;
    padding: 5px;
    font-size: 16px; }
  .CreatePost textarea {
    resize: none; }
  .CreatePost button {
    border: 3px solid maroon;
    color: maroon;
    font-size: 20px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer; }
    .CreatePost button:hover {
      background-color: maroon;
      color: beige; }

.Home {
  text-align: center; }

.NavBar {
  background: navy;
  padding: 10px; }
  .NavBar a {
    color: white;
    text-decoration: none;
    margin: 20px; }
  .NavBar .active {
    color: #999; }
